@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
.App {
  text-align: center;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #008767;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #04dba5;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.post {
  padding: 20px;
  margin: 0 100px ;
  border-bottom: 1px solid #f2f2f2;
}

.post p {
  padding: 2px;
}
.post button {
  margin-top: 8px;
}
.post button:hover {
  color: rgb(255, 0, 0);
}

.blog-form {
  padding: 20px;
}

.blog-form input {
  margin-bottom: 20px;
  margin-top: 8px;
  width: 75%;
  max-width: 300px;
}

.blog-form textarea {
  width: 75%;
  max-width: 800px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.blog-form button:hover{
  background-color: #04dba5;
}

